.section_footer {
	background-color: #2a272e;
	font-size: 14px;
	padding: 35px 0 75px;
	.wrapper {
		margin: 0px -15px;
		&>* {
			margin: 15px;
		}
	}
	.footer_about {
		opacity: .2;
	}
	.footer_logo {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 30px;
		.footer_logo_img {
			height: 40px;
			margin-right: 10px;
			filter: grayscale(1);
		}
	}
@media (max-width: 1023px) {
} //media
@media (min-width: 1024px) {
} //media
} //.section_footer
